@using BuriStore.Common
@using BuriStore.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @(this.User.Identity.Name)!</a>
        </li>
          @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) && (this.User.Identity.IsAuthenticated))
                            {
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle bg-dark border-dark" type="button" data-toggle="dropdown">
                                            Admin
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="nav-link" asp-area="" asp-controller="Items" asp-action="Create">Create Item</a>
                                            </li>

                                            <li>
                                                <a class="nav-link" asp-area="Administration" asp-controller="Categories" asp-action="Index">Categories</a>
                                            </li>
                                        </ul>

                                    </div>
                                </li>

                            }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
