@using BuriStore.Common
@model BuriStore.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Whatever Your Budget We got something for you!</p>
   
</div>
